<div id="overviewbox" class="row" >
  <div class="col-sm-1"></div>
  <div id="quickView" class="col-sm-6" >
    <!--<div id="overviewContainer" class="container ">-->
      <div class="row"  style="display: flex;">

        <div class="quickBug col-sm-3 text-center" style="background-color: #ff8049">
          <!--<div class="text-center boxcontent">-->
            <h1>3</h1>
            <p class="small_desc">New bugs today</p> 
          <!--</div>-->
        </div>
        <div class="quickBug col-sm-3 text-center" style="background-color:#699b4e">
          <h1>21</h1>
          <p class="small_desc">New bugs this month</p> 
        </div>
        <div class="quickBug col-sm-3 text-center" style="background-color:#ed596a">
          <h1>9</h1>
          <p class="small_desc">Average tested bugs</p> 
        </div>
        <div class="quickBug col-sm-3 text-center" style="background-color:#5991ea">
          <h1>3</h1>
          <p class="small_desc">Bugs older than 7 days</p> 
        </div>
      </div>

      <div class="row" style="display: flex;">
        <div class="quickBug col-sm-3 text-center" style="background-color:#cf4dff">
          <h1>3</h1>
          <p class="small_desc">Bugs older than 7 days</p> 
        </div>  
        <div class="quickBug col-sm-3 text-center" style="background-color:skyblue">
          <h1>3</h1>
          <p class="small_desc">Bugs older than 7 days</p> 
        </div>
        <div class="quickBug col-sm-3 text-center" style="background-color: #ffa649">
          <h1>3</h1>
          <p class="small_desc">Bugs older than 7 days</p> 
        </div>
        <div class="quickBug col-sm-3 text-center" style="background-color:olivedrab">
          <h1>3</h1>
          <p class="small_desc">Bugs older than 7 days</p> 
        </div>
      </div>
    <!--</div>-->
  </div>
  <div class="col-sm-1"></div>

  <div class="col-sm-4">
      <memobox></memobox> 
  </div>
</div>


<!-- WHEN CLICKED EVENT ACTION OCCURED! (popup alert message) 

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>      
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>-->
<br>
<div class="col-xs-1 text-center">
  <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=calendar%40digpro.se&amp;color=%23711616s&amp;ctz=Europe%2FStockholm" style="border-width:0" width="1000" height="800" frameborder="0" scrolling="no"></iframe>
</div>
  <!--  CALENDAR   --><!--
<div class="calBack" style="background: white; padding-top: 2em; border-top-right-radius: 25px;border-top-left-radius: 25px; ">
  <div class="row text-center" >
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div 
          class="btn btn-primary active"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="view = 'month'"
          [class.active]="view === 'month'">
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="view = 'week'"
          [class.active]="view === 'week'">
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="view = 'day'"
          [class.active]="view === 'day'">
          Day
        </div>
      </div>
    </div>
  </div>
  <br>

  <div [ngSwitch]="view" style="background: rgba(255, 255, 255, 1);  padding-top:1em; border-top: 4px solid lightblue;">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>

<br><br><br>

<h3>
  Edit events
  <button
    class="btn btn-primary pull-right"
    (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Title</th>
      <th>Primary color</th>
      <th>Secondary color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of events; let index = index">
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="event.title"
          (keyup)="refresh.next()">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.primary"
          (change)="refresh.next()">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()">
      </td>
     HERE
      <td>
        <button
          class="btn btn-danger"
          (click)="events.splice(index, 1); refresh.next()">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
-->

   <!--
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set">
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.end"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set">
      </td>-->