/**/
/*
p {    
  height: 100%;
  width: 100%;
}
  */
  /*
  display: flex;
  flex-direction: column;
  overflow: auto; *//*scroll*/
  /*white-space: pre-line;*/  
  
  
#overviewbox{
  /*height: 60vh;*/
}
/*.overviewContainer {
  height: 60vh;
}*/

#quickView{
  height: 20em;
}
.quickBug {
  height: 9.5em;
}
#memobox .memos{
  height: 16em;
  overflow: hidden;
  overflow-y: scroll;
  padding: 5px;
  background-color: white;
  margin-bottom: 1em;
}

.memo-form{
  position: absolute;
  top: 12em;
}

.boxview {
  display: flex;
}
/*
.boxview .boxcontent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}*/

pre {
  background-color: black;
  padding: 15px;
}